@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

.navbar{
  padding: .5rem 1rem;
}

.bg-light{
background-color: #f2f2f2 !important;
}

.login-card{
  margin-top:15vh;
}


.custom-select{
  display: inline-block;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
      background-size: auto;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body{
background-image:url("../images/bcg.png");
background-size: 100px;
}
