doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body(style="padding-top:100px")
    include ./components/login_modal.pug
    block navbar
    block content
    
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" type="text/javascript")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js" type="text/javascript")
      script(src="./javascripts/main.js" type="text/javascript")
      if !user
        script(type="text/javascript").
          $(document).ready(()=>{
            $('#loginModal').modal('show');
            $('#loginModal .btn-success').click((e)=>{
              $.ajax({
              url:"users",
              method:"POST",
              data:{username:$("#UsernameInput").val(),password:$("#PasswordInput").val()},
              success: (data)=>{$('#loginModal').modal('hide');document.location.reload();},
              error: (data)=>{
                if(data.status==400){
                  
                  $("#loginModal .alert-danger").text(data.responseJSON.message);
                  $("#loginModal .alert-danger").fadeIn();
                }
              }});
        
            });
          });
        
      
